.login-page {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.noto-login-image {
    max-width: 250px;
    max-height: 250px;
}

@media only screen and (max-width: 600px) {
    .login-page {
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 40%;
    }
}

.login-jargon-para {
    font-style: italic;
    color: gray;
    position: relative;
}

.login-button {
    margin-top: 20px;
    display: flex;
}

.login-button-text {
    align-self: center;
}

.login-google-logo {
    align-self: center;
}